@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Students";
}


<h2>@ViewBag.Title</h2>
<table>
     <thead>First Name</thead><thead>Last Name</thead><thead>Major</thead>
     @{
        for (int i = 0; i < ViewBag.Students.Count; i++)
        {
            <tr>
            <td>@ViewBag.Students[i].FirstName</td>
            <td>@ViewBag.Students[i].LastName</td>
            <td>@ViewBag.Students[i].Major</td>
            </tr>
         }
    }
</table>