@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Students";
}


<h2>@ViewBag.Title</h2>
<ul>
    @{
        for (int i = 0; i < ViewBag.Students.Count; i++)
        {
            <li><a href="/Student/Details/@ViewBag.Students[i].StudentId">@ViewBag.Students[i].FirstName @ViewBag.Students[i].LastName</a></li>
        }
    }
</ul>